@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Roboto:wght@300;400;700&display=swap');

:root {
  --playfair-display: 'Playfair Display', serif;
  --roboto: 'Roboto', sans-serif;
  --cream: #F3EED9;
  --brown: #824936;
  --black: #222C2A;
  --fs-100: .88rem;
  --fs-200: 1.31rem;
  --fs-300: 2.25rem;
  --fs-400: 3.75rem;
}
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--roboto);
}
img {
  max-width: 100%;
}
.color-white { color: #fff; }
.color-brown { color: var(--brown); }
.color-cream { color: var(--cream); }
.color-black { color: var(--black); }
.bg-brown { background: var(--brown) !important; }
/* maximum width of a “container”
is 1128px

in the cery first section try setting a min-height 
of 660px and using what we’ve covered in
flexbox to center the content vertically */
.container {
  width: min(80%, 1128px);
}
.row {
  display: flex;
}
.hero {
  background: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 660px;
  color: var(--brown);
}
.hero__sub {
  font-weight: 400;
  font-size: var(--fs-100);
  letter-spacing: 10px;
  text-transform: uppercase;
}
.hero__title {
  font-family: var(--playfair-display);
  font-size: var(--fs-400);
  width: 95%;
  margin: 0 auto;
  line-height: 1em;
  max-width: 800px;
  margin-top: .2em;
}

.articles {
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles > .container,
.portfolio > .container {
  margin: 0 auto;
  padding: 3.7em 0;
}

.articles__title {
  font-family: var(--playfair-display);
  color: var(--brown);
  font-size: var(--fs-300);
  text-align: center;
  margin-bottom: 1.2em;
}
.articles__row {
  color: var(--black);
  font-size: var(--fs-200);
  gap: 3em;
}
.portfolio {
  background: var(--black);
}
.portfolio__title {
  font-size: var(--fs-300);
  color: var(--cream);
  font-family: var(--playfair-display);
}
.portfolio__text {
  color: #fff;
  font-size: var(--fs-200);
  margin-top: 1.1em;
}

.portfolio > .row {
  gap: 3em;
}

.articles .col, .portfolio .col {
  flex: 1;
}

@media screen and (max-width: 425px) {
  :root {
    --fs-100: .68rem;
    --fs-200: .91rem;
    --fs-300: 1.65rem;
    --fs-400: 2.25rem;
  }
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}